*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.info-sec{
    padding: 12px 3rem 15px 3rem;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

header{
    margin: 20px 3rem;
    display: flex;
    justify-content: space-between;
}

h2{
    color: #EF4B42;
}

.nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 60%;
}

.header-btn{
    padding: 10px 15px;
    color: #EF4B42;
    border: 1px solid #EF4B42;
    background-color: transparent;
    border-radius: 20px;
}

.header-btn:hover{
    background-color: #df5a53;
    color: #fff;
}

ul li{
    margin: 7px 0 0 0;
}

ul li:hover{
    color: #EF4B42;
}

/* hero section  */
.hero-section{
    display: flex;
    justify-content: space-between;
    padding: 1.7rem 3rem;
}

#hero-img{
    width: 600px;
}

.hero-text-sec h1{
    margin: 5rem 0 1rem 0;
    color: #333;
    font-size: 2.5rem;
    width: 620px;
    line-height: 45px;
}

.hero-text-sec p{
    font-size: 22px;
    letter-spacing: 3px;
    width: 550px;
    font-weight: 600;
    margin: 1.5rem 0 2rem 0;
}

.hero-btn{
    padding: 10px 20px;
    background-color: #EF4B42;
    color: #fff;
    border: none;
    border-radius: 15px;
    font-size: 13px;
    font-weight: 400;
}

.hero-btn:hover{
    background-color: #c52a22;
    color: #fff;
}

.ri-menu-line{
    display: none;
}

.hero-section-smaller{
    display: none;
}

/* MEDIA QUERY */
@media screen and (max-width: 1280px) {
    #hero-img{
        width: 350px;
    }
    .hero-text-sec p{
        width: 650px;
    }
}
@media screen and (max-width: 1024px) {
    #hero-img{
        width: 350px;
    }
    .hero-text-sec p{
        width: 550px;
    }
}
@media screen and (max-width: 912px) {
    .nav{
        width: 70%;
    }
    header{
        margin: 20px 2rem;
    }
    .hero-section{
        padding: 20px 2rem;
    }
    .hero-text-sec h1{
        width: 400px;
        font-size: 1.9rem;
        line-height: 36px;
        margin: 2rem 0 1rem 0;
    }
    .hero-text-sec p{
        width: 400px;
    }
    #hero-img{
        width: 370px;
    }
    .hero-text-sec p{
        margin: 1rem 0 1rem 0;
    }
}
@media screen and (max-width: 820px) {
    .nav{
        width: 70%;
    }
    header{
        margin: 20px 2rem;
    }
    .hero-section{
        padding: 20px 2rem;
    }
    .hero-text-sec h1{
        width: 400px;
        font-size: 1.9rem;
        line-height: 36px;
        margin: 2rem 0 1rem 0;
    }
    .hero-text-sec p{
        width: 400px;
    }
    #hero-img{
        width: 370px;
    }
    .hero-text-sec p{
        margin: 1rem 0 1rem 0;
    }
}
@media screen and (max-width: 540px) {
    .info-sec{
        display: none;
    }
    .ri-menu-line{
        display: block;
        width: 30px;
    }
    .nav{
        display: none;
        font-size: 5rem;
    }
    header{
        margin: 20px 2rem;
    }
    .hero-section{
        display: none;
    }
    .hero-section-smaller{
        display: block;
        display: flex;
        flex-direction:column ;
        justify-content: space-between;
        margin: 20px 2rem;
    }
    #hero-img-smaller{
        width: 600px;
        margin: 15px auto ;
    }
    .hero-section-smaller h1{
        font-size: 1.6rem;
        margin: 15px auto ;
        text-align: center;
        color: #333;
    }
    #hero-img-smaller{
        width: 300px;
    }
    .hero-text-sec-smaller p{
        font-size: 18px;
        color: #333;
        margin: 15px 0 ;
        text-align: center;
        font-weight: 600;
    }
    .hero-btn-smaller{
        padding: 10px 20px;
        background-color: #EF4B42;
        color: #fff;
        border: none;
        border-radius: 10px;
        font-size: 13px;
        font-weight: 400;
        display: block;
        margin: 1.5rem auto ;
    }
    
    .hero-btn-smaller:hover{
        background-color: #c52a22;
        color: #fff;
    }
    .hero-section-smaller h2{
        text-align: center;
        color: #333;
        margin: 15px  0 0 0;
    }
}

@media screen and (max-width: 414px) {
    .hero-text-sec-smaller p{
        font-size: 16px;
    }
}
@media screen and (max-width: 280px) {
    header{
        margin: 20px 1rem;
    }
    .hero-section-smaller h1{
        font-size: 1.3rem;
    }
    #hero-img-smaller{
        width: 270px;
    }
}